<!-- templates/admin/index.html -->
{% extends "layout/base.html" %}
{% block head %}
{{ super() }}
<style>
    table.dataTable tbody th,
    table.dataTable tbody td,
    table.dataTable thead th,
    table.dataTable thead td {
        padding: 5px 10px !important;
    }
</style>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JS Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block content %}
<!-- Page header -->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Monthly Payroll</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
            <div class="btn-list">
                <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> 
                    <i class="feather feather-mail"></i> 
                </button>
                <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> 
                    <i class="feather feather-phone-call"></i> 
                </button>
                <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> 
                    <i class="feather feather-info"></i> 
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Page header -->

<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form class="card-body pt-3" method="POST" action="/wps">
                    <input type="hidden" name="csrf_token" id="csrf_gen" value="{{ csrf_token() }}" />
                    <div class="row mt-5">
                        <div class="col-md-6 col-lg-3">
                            <label class="form-label">Attendance Month:</label>
                            <input class="form-control" placeholder="Month Range" type="text" name="selected_month"
                                id="selected_month" value="{{start_of_month.strftime('%Y-%m-%d')}}" hidden>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="feather feather-clock"></span>
                                    </div>
                                </div>
                                <input class="form-control" id="filter-datepicker-month" placeholder="Month Range"
                                    type="text" name="month_range_input" value="{{start_of_month.strftime('%B')}}">
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-3">
                            <div class="form-group">
                                <label class="form-label">Select Sub Company:</label>
                                <div class="input-group">
                                    <select class="w-100 form-control form-select" name="sub_company" id="sub_company">
                                        <option value="" disabled>Select Sub Company</option>
                                        {% if company_details.sub_companies|length > 0 %}
                                        {% for item in company_details.sub_companies %}
                                        <option value="{{ item.id }}" {% if item.id == selected_sub_company %}selected{% endif %}>{{ item.company_name }}</option>
                                        {% endfor %} 
                                        {% endif %}
                                        <option value="">All Company</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="form-group mt-5">
                                <button href="javascript:void(0);" class="btn btn-primary btn-block">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card">
                <div class="panel panel-primary">
                    <div class="tab-menu-heading p-0 bg-light">
                        <div class="tabs-menu1">
                            <ul class="nav panel-tabs">
                                {% for bank, edr_records in edr_data.items() %}
                                <li><a href="#tab-{{ loop.index }}" class="{% if loop.first %}active{% endif %}" data-bs-toggle="tab">{{ bank }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body tabs-menu-body">
                        <div class="tab-content">
                            {% for bank, edr_records in edr_data.items() %}
                                <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{ loop.index }}">
                                    <div class="card-body">
                                        <div class="table-responsive">

                                        <table class="table table-vcenter text-nowrap table-bordered border-bottom table-striped fs-12 sif-report" 
                                            id="table-{{ loop.index }}" 
                                            data-table-id="table-{{ loop.index }}"
                                            data-bank-name="{{ bank }}"
                                            >
                                            <input type="hidden" class="bank-name" value="{{ bank }}">

                                            
                                                {% if bank == 'CBD' or bank == 'Commercia Bank International (CBI)' %}
                                                    <thead>
                                                        <tr>
                                                            {% for field in table_head[bank] %}
                                                            <th class="border-bottom-0 fs-12">{{ field }}</th>
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if scr_data[bank] %}
                                                        <tr>
                                                            <td>Company Name: </td>
                                                            <td>{{ scrs_values[bank][0] }}</td>
                                                            <td>EST ID</td>
                                                            <td>{{ scrs_values[bank][1] }}</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        {% endif %}
                                                        {% for record in edrs_valus[bank] %}
                                                        <tr>
                                                            {% for value in record %}
                                                            <td>{{ value }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>

                                        
                                                {% else %}
                                                    <thead>
                                                        <tr>
                                                            {% for field in table_head[bank] %}
                                                            <th class="border-bottom-0 fs-12">{{ field }}</th>
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if scr_data[bank] %}
                                                        <tr>
                                                            {% for value in scrs_values[bank] %}
                                                            <td>{{ value }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endif %}
                                                        {% for record in edrs_valus[bank] %}
                                                        <tr>
                                                            {% for value in record %}
                                                            <td>{{ value }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->
{% endblock %}
{% block script %}
{{ super() }}

<!-- Bootstrap Datepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<!-- DataTables Buttons extension -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

<script>
$(document).ready(function() {
    $('.sif-report').each(function() {
        var table = $(this).DataTable({
            "order": [
                [0, "desc"]
            ],
            "paging": false,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csvHtml5',
                    fieldBoundary: '',
                    footer: false,
                    header: true,
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: function() {
                        // Get the bank name from a hidden element or fallback
                        var bankName = $(this).closest('table').attr('data-bank-name');
                        if (!bankName) {
                            bankName = "Your Bank";
                        }
                        // Return the title with bank name
                        return `${bankName} - CSV Report`;
                    },
                    customize: function (xlsx) {
                        // Inject custom styles into the button
                        $(xlsx).find('.buttons-csv').css({
                            'background-color': '#007bff', // Primary color
                            'color': '#fff', // White text
                            'border': '1px solid #007bff', // Border color
                            'padding': '0.375rem 0.75rem', // Padding
                            'border-radius': '0.25rem', // Border radius
                            'font-size': '0.875rem', // Font size
                            'font-weight': '400', // Font weight
                            'line-height': '1.5', // Line height
                            'text-align': 'center', // Text alignment
                            'text-decoration': 'none', // Text decoration
                            'display': 'inline-block', // Display
                            'cursor': 'pointer' // Cursor
                        });
                    }
                },
                {
                    extend: 'excelHtml5',
                    fieldBoundary: '',
                    footer: false,
                    header: true,
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: function() {
                        // Get the bank name from a hidden element or fallback
                        var bankName = $(this).closest('table').attr('data-bank-name');
                        if (!bankName) {
                            bankName = "Your Bank";
                        }
                        // Return the title with bank name
                        return `${bankName} - Excel Report`;
                    },
                    customize: function (xlsx) {
                    // Inject custom styles into the button
                    $(xlsx).find('.buttons-excel').css({
                        'background-color': '#007bff', // Primary color
                        'color': '#fff', // White text
                        'border': '1px solid #007bff', // Border color
                        'padding': '0.375rem 0.75rem', // Padding
                        'border-radius': '0.25rem', // Border radius
                        'font-size': '0.875rem', // Font size
                        'font-weight': '400', // Font weight
                        'line-height': '1.5', // Line height
                        'text-align': 'center', // Text alignment
                        'text-decoration': 'none', // Text decoration
                        'display': 'inline-block', // Display
                        'cursor': 'pointer' // Cursor
                    });
                }
                }
            ]
        });
    });
});

    </script>
    
{% endblock %}
