<!-- templates/employee/index.html -->

{% extends "layout/base.html" %}
{% block head %}
{{ super() }}
<!-- INTERNAL Daterangepicker css-->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/daterangepicker/daterangepicker.css') }}">
<style>
    table.dataTable tbody th,
    table.dataTable tbody td,
    table.dataTable thead th,
    table.dataTable thead td {
        padding: 5px 10px !important;
    }
</style>
{% endblock %}

{% block content %}
<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Company Biometric Devices</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
            <div class="btn-list">
                <button  class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                <button  class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                <button  class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header border-0">
                <h4 class="card-title">Device List</h4>
            </div>
            <div class="table-responsive mt-5 p-3">
                <table class="table  table-vcenter text-nowrap table-bordered border-bottom  attendance-history ">
                    <thead>
                        <tr>
                            <th class="text-start border-bottom-0">Device Name</th>
                            <th class="text-start border-bottom-0">Device Address</th>
                            <th class="text-start border-bottom-0">PortNo</th>
                            <th class="text-start border-bottom-0">Mode</th>
                            <th class="text-start border-bottom-0">Status</th>
                            <th class="text-start border-bottom-0">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in data.SearchResult.MatchList %}
                        <tr class="border-bottom fs-15">
                            <td class="text-start">{{ match.Device.devName }}</td>
                            <td class="text-start">{{ match.Device.ISAPIParams.address }}</td>
                            <td class="text-start">{{ match.Device.ISAPIParams.portNo }}</td>
                            <td class="text-start">{{ match.Device.devMode }}</td>
                            <td class="text-start fs-15">
                                {% if match.Device.devStatus == 'online' %}
                                <span class="badge badge-success-light">Online</span>
                                {% else %}
                                <span class="badge badge-danger-light">Offline</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if match.Device.devStatus == 'online' %}
                                    <div class="btn-group">
                                        <button class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="">
                                            <li><a href="{{ url_for('company.device_persons_list',deviceIndex=match.Device.devIndex,search_result_position=0) }}">View Persons on Device</a></li>
                                            <li><a href="{{ url_for('company.device_attendance_list',deviceIndex=match.Device.devIndex,search_result_position=0) }}">Today Attendance</a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

{% endblock %}

{% block script %}
{{ super() }}
<script>
	/* Data Table */
	$('.attendance-history').DataTable({
		order: [],
		columnDefs: [ { orderable: false, targets: [0] } ],
		language: {
			searchPlaceholder: 'Search...',
			sSearch: '',

		}
	});
	/* End Data Table */
</script>
{% endblock %}