
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Hrms" />
    <add key="WSGI_HANDLER" value="project.create_app()" />
    
    <add key="WSGI_VERBOSE" value="True" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI v1" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\inetpub\wwwroot\Hrms\venv\Scripts\python.exe|C:\inetpub\wwwroot\Hrms\venv\Lib\site-packages\wfastcgi.py" 
          resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
