<!-- templates/admin/index.html -->

{% extends "layout/base.html" %}
{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet" />

<style>
  
</style>
{% endblock %}
{% block content %}

<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Time Off Adjustments</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
            <div class="btn-list">
                <!-- <a href="{{url_for('company.create_leave_adjustments')}}" class="btn btn-primary me-3">Create New Adjustment</a> -->
                <button  class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                <button  class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                <button  class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->


<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h4 class="card-title">Time Off Adjustment Summary</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table  table-vcenter text-nowrap table-bordered border-bottom table-striped" id="hr-expense">
                        <thead>
                            <tr>
                                <th class="border-bottom-0">Dated On</th>
                                <th class="border-bottom-0">Employee Name</th>
                                <th class="border-bottom-0">Department</th>
                                <th class="border-bottom-0">Type</th>
                                <th class="border-bottom-0">Impact</th>
                                <th class="border-bottom-0">Status</th>
                                <th class="border-bottom-0">Action</th>


                                <!-- <th class="border-bottom-0">Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in adjustment_details|sort(attribute='_id',reverse=True) %}
                                <tr>
                                    <td>{{item.created_at.strftime('%Y-%m-%d')}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                                <h6 class="mb-1 fs-14">{{item.employee_details_id.first_name + ' ' + item.employee_details_id.last_name}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.employee_details_id.employee_company_details.department}}</td>
                                    <td>{{item.adjustment_reason_id.adjustment_reason|capitalize}}</td>

                                    <td>
                                        <span class="fs-10">Time Off</span><br>
                                        <span class="font-weight-semibold {{'text-success' if item.adjustment_type =='increment' else 'text-danger'}}">{{"{:.3f}".format(item.time_off_balance)}}</span> days<br>
                                        <span class="fs-10">{{item.approved_minutes}} minutes / {{item.daily_working_hour}} minutes</span><br>
                                    </td>
                                    <td>
                                        {% if item.time_off_status == "pending" %}
                                        <span class="badge badge-warning">Pending</span>
                                        {% elif item.time_off_status == "approved" %}
                                        <span class="badge badge-success">Approved</span>
                                        {% elif item.time_off_status == "rejected" %}
                                        <span class="badge badge-danger">Rejected</span>
                                        {% endif %}
                                        {% if item.leave_reject_reason %}
                                        <span class="feather feather-info" data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="{{item.leave_reject_reason}}"></span>
                                        {% endif %}
                                    </td>    
                                    
                                    <td>
                                        {% if item.time_off_status != "approved" %}
                                            <div class="btn-group mt-1 mb-1">

                                                <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">
                                                    Action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    {% if item.time_off_status == "rejected" %}
                                                        <li><a href="javascript:void(0);" class="reject_time_off" data-type="pending" data-time_off_id="{{item._id}}">Pending</a></li>
                                                        <li><a href="javascript:void(0);" class="approve_leave_adjustment" data-type="approved" data-time_off_id="{{item._id}}" data-employee_details_id="{{item.employee_details_id._id}}" data-bs-toggle="modal" data-bs-target="#approvetimeoffmodal">Approve</a></li>
                                                    {% elif item.time_off_status == "pending" %}
                                                        <li><a href="javascript:void(0);" class="approve_leave_adjustment" data-type="approved" data-time_off_id="{{item._id}}" data-employee_details_id="{{item.employee_details_id._id}}" data-bs-toggle="modal" data-bs-target="#approvetimeoffmodal">Approve</a></li>
                                                        <li><a href="javascript:void(0);" class="reject_time_off" data-type="rejected" data-time_off_id="{{item._id}}">Reject</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                      

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->


<!--Add Edit Approver Modal -->
<div class="modal fade" id="approvetimeoffmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="card-body pt-3" id="edit_leave_approver_form">

                <div class="modal-header">
                    <h5 class="modal-title">Select Leave Policy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                    
                <div class="modal-body">
                    <div id="message"></div>
                    <input type="hidden" name="csrf_token" id="edit_csrf_alp" value="{{ csrf_token() }}" />
                    <input type="hidden" name="time_off_id" id="time_off_id"/>
                    
                    <div class="edit_approvers">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label"> Select Leave Policy*</label>
                                    <select class="form-control select2-show-search custom-select" id="select2insidemodal" name="leave_approver" required>
                                           
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</a>
                    <button class="btn btn-primary" id="btnEditLeaveApprovers" >Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Edit Leave Approver Modal  -->

{% endblock %}

{% block script %}
{{ super() }}
<script>
// Data Table 
$(document).ready(function () {
    var table = $('#hr-expense').DataTable({
        "order": [
            [0, "desc"]
        ],
        order: [],
        columnDefs: [{
            orderable: false,
        }],
        language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
        },
        initComplete: function () {
            this.api()
                .columns([3])
                .every(function () {
                    var column = this;
                    var select = $('<select class="mx-2"><option value="">All</option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                        $( select ).click( function(e) {
                            e.stopPropagation();
                        });
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});

// Ajax Approve Leave 
$(document).on("click", '.reject_time_off', function (e) {
    e.preventDefault();
    var cs = "{{ csrf_token() }}";
    var status = $(this).attr("data-type");
    var time_off_id = $(this).attr("data-time_off_id");
    swal({
        title: "Are you sure?",
        text: "You want to perform this action?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    }).then((willDelete) => {
        if (willDelete) {
            $("#global-loader").show();
            $.ajax({
                    headers: {
                        'X-CSRF-TOKEN': cs
                    },
                    url: '/update/timeoff/',
                    data: {
                        time_off_id: time_off_id,
                        status : status
                    },
                    type: 'POST',
                })
                .done(function (data) {
                    //$('#markattendancemodal').modal('toggle');
                    $("#global-loader").hide();
                    swal({
                        title: "Success",
                        text: "Successfully Perfomed Action!",
                        icon: "success",
                    }).then(function () {
                        $("#global-loader").show();
                        location.reload();
                    });
                })
                .fail(function (err) {
                    console.log(err);
                    $('#message').html(err);
                })
        }
    });
});
//EnD Ajax Approve Leave

$(document).on("show.bs.modal", '#approvetimeoffmodal', function (e) {
    var time_off_id = $(e.relatedTarget).data('time_off_id');
    var employee_details_id = $(e.relatedTarget).data('employee_details_id');

    cs = "{{csrf_token()}}"
    $("#global-loader").show();
    $('#select2insidemodal').empty();
    $('#time_off_id').val("")
    $.ajax({
            headers: {
                'X-CSRF-TOKEN': cs
            },
            url: '/getemployeesleavepolicies',
            data: {
                selected_employee: employee_details_id
            },
            type: 'GET',
        })
        .done(function (data) {
            if (data.status === "success") {
                var leave_policies = '';
                $.each(data.details, function (index, value) {
                    leave_policies += '<option value=' + value.emp_leave_policy_id + '>' + value
                        .leave_policy_name + '(' + value.balance + ')'+'</option>';
                });
                $('#select2insidemodal').append(leave_policies);

                $('#time_off_id').val(time_off_id)
                $("#global-loader").hide();
            } else {
                
                swal({
                    title: "Failed",
                    text: "Please there are no Leave Policy Setup for this Employee!",
                    icon: "error",
                }).then((willDelete) => {
                    //$("#approvetimeoffmodal").hide();
                });
            }

        })
        .fail(function (err) {
            console.log(err);
            $('#message').html(err);
        })

});

// Ajax Approve Leave 
$(document).on("click", '#btnEditLeaveApprovers', function (e) {
    e.preventDefault();
    var cs = "{{ csrf_token() }}";
    var time_off_id = $('#time_off_id').val();
    var leave_policy = $('#select2insidemodal :selected').val()
    var status = "approved";
    if(time_off_id && leave_policy){
        swal({
            title: "Are you sure?",
            text: "You want to perform this action?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $("#global-loader").show();
                $.ajax({
                        headers: {
                            'X-CSRF-TOKEN': cs
                        },
                        url: '/update/timeoff/',
                        data: {
                            time_off_id: time_off_id,
                            status : status,
                            leave_policy:leave_policy
                        },
                        type: 'POST',
                    })
                    .done(function (data) {
                        //$('#markattendancemodal').modal('toggle');
                        $("#global-loader").hide();
                        swal({
                            title: "Success",
                            text: "Successfully Perfomed Action!",
                            icon: "success",
                        }).then(function () {
                            $("#global-loader").show();
                            location.reload();
                        });
                    })
                    .fail(function (err) {
                        console.log(err);
                        $('#message').html(err);
                    })
            }
        });
    }
    
});
//EnD Ajax Approve Leave

</script>

{% endblock %}