<ul class="side-menu">
    <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
            <i class="feather feather-home  sidemenu_icon"></i>
            <span class="side-menu__label">Dashboard</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li class="sub-slide">
                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0);">
                    <span class="sub-side-menu__label">Super Admin</span><i class="sub-angle fa fa-angle-right"></i>
                </a>
                <ul class="sub-slide-menu">
                    <li><a href="/admin" class="sub-slide-item active">Dashboard</a></li>
                    <li><a href="superadmin-company.html" class="sub-slide-item">Companies</a></li>
                    <li><a href="superadmin-subscription.html" class="sub-slide-item">Subscription Plans</a></li>
                    <li><a href="superadmin-invoices.html" class="sub-slide-item">Invoices</a></li>
                    <li><a href="superadmin-admins.html" class="sub-slide-item">Super Admins</a></li>
                    <li><a href="superadmin-settings.html" class="sub-slide-item">Settings</a></li>
                    <li><a href="superadmin-role.html" class="sub-slide-item">Role Access</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
            <i class="feather feather-airplay sidemenu_icon"></i>
            <span class="side-menu__label">Admin</span><i class="angle fa fa-angle-right"></i>
        </a>
        <ul class="slide-menu">
            <li class="side-menu-label1"><a href="javascript:void(0);">Admin</a></li>
            <li><a href="admin-general.html" class="slide-item">General Settings</a></li>
            <li><a href="admin-api.html" class="slide-item">API Settings</a></li>
            <li><a href="admin-role.html" class="slide-item">Role Access</a></li>
        </ul>

</ul>